<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5 class="footer__title">About Us</h5>
        <p class="text-white-50">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="social mt-4">
          <a href="#" class="social__link" aria-label="Facebook">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a href="#" class="social__link" aria-label="Twitter">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" class="social__link" aria-label="Instagram">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="footer__title">Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="footer__link">Home</a></li>
          <li class="mb-2"><a href="#" class="footer__link">About</a></li>
          <li class="mb-2"><a href="#" class="footer__link">Services</a></li>
          <li class="mb-2"><a href="#" class="footer__link">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="footer__title">Services</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="footer__link">Web Design</a></li>
          <li class="mb-2"><a href="#" class="footer__link">Development</a></li>
          <li class="mb-2"><a href="#" class="footer__link">Marketing</a></li>
          <li class="mb-2"><a href="#" class="footer__link">Support</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4">
        <h5 class="footer__title">Contact</h5>
        <ul class="list-unstyled text-white-50">
          <li class="mb-2">
            <svg class="icon me-2">
              <use xlink:href="img/sprite.svg#location"></use>
            </svg>
            123 Street Name, City, Country
          </li>
          <li class="mb-2">
            <svg class="icon me-2">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            +1 234 567 890
          </li>
          <li class="mb-2">
            <svg class="icon me-2">
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
            info@example.com
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom text-center">
      <p class="mb-0 text-white-50">&copy; 2024 Your Company. All rights reserved.</p>
    </div>
  </div>
</footer>
