// ===========================================
// TB-64 KAZ - основной шрифт
// ===========================================

@font-face {
  font-family: 'TB-64 KAZ';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/TB-64-113-KAZ.ttf') format('truetype');
}

@font-face {
  font-family: 'TB-64 KAZ';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/TB-64-121-KAZ.ttf') format('truetype');
}

@font-face {
  font-family: 'TB-64 KAZ';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/TB-64-123-KAZ.ttf') format('truetype');
}
