@media(max-width: 1200px){
  .steps {
    .steps__list{
      grid-template-columns: 1fr;
      .step__item{
        @include fluid-padding(80, 150, 50, 90, 50, 70, 50, 70);
      }
    }
  }
  .map{
    .container{
      .map-wrapper{
        overflow-x: scroll;
        img{
          min-width: 900px;
          width: 100%;
        }
        .map-dots{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          min-width: 900px;
        }
      }

    }
  }
}

@media (max-width: 1120px) {
  .footer{

  }
}


@media(max-width: 991px){
  .header {
    .header__burger {
      display: block;
    }

    .header__menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 90%;
      height: 100vh;
      background: linear-gradient(180deg, #ff6c00 0%, #994100 100%);
      z-index: 1000;
      padding: 80px 30px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease;

      &.active {
        transform: translateX(0);
      }

      // Кнопка закрытия
      &::before {
        content: '\00d7';
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 36px;
        color: #000;
        cursor: pointer;
        line-height: 1;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ul {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        width: 100%;
        li a {
          font-size: 24px;
          color: #000;
        }
      }
    }
  }

  //.map{
  //  .map-wrapper {
  //    .map-dots{
  //      .dot{
  //        &--almaty{
  //          top: 72.5%;
  //          left: 89.5%;
  //        }
  //        &--astana{
  //          top: 39.8%;
  //          left: 76.9%;
  //        }
  //        &--aktay{
  //          top: 71.2%;
  //          left: 23%;
  //        }
  //        &--aktobe{
  //          top: 41%;
  //          left: 39.3%;
  //        }
  //        &--atyrau{
  //          top: 52.4%;
  //          left: 25%;
  //        }
  //        &--karaganda{
  //          top: 48%;
  //          left: 85.5%;
  //        }
  //        &--kokhetay{
  //          top: 28%;
  //          left: 72.3%;
  //        }
  //        &--kostanay{
  //          top: 21%;
  //          left: 57.5%;
  //        }
  //        &--kyzlodrda{
  //          top: 64.8%;
  //          left: 61.5%;
  //        }
  //        &--pavlodar{
  //          top: 27.8%;
  //          left: 90.5%;
  //        }
  //        &--petropavlosk{
  //          top: 15%;
  //          left: 70.5%;
  //        }
  //        &--semey{
  //          top: 40%;
  //          left: 99%;
  //        }
  //        &--taraz{
  //          left: 79.5%;
  //          top: 76%;
  //        }
  //        &--uralsk{
  //          top: 34%;
  //          left: 24.8%;
  //        }
  //        &--oskemen{
  //          top: 40%;
  //          left: 107.5%;
  //        }
  //        &--shmkent{
  //          top: 78.5%;
  //          left: 70.5%;
  //        }
  //        &--taldyk{
  //          top: 65.5%;
  //          left: 96.5%;
  //        }
  //      }
  //
  //    }
  //  }
  //}
}

@media(max-width: 768px){
  .counter{
    .counter__increment {
      .counter__digit{
        span{
          @include fluid-font(42, 128); // 128px → 64px
        }
      }
    }
  }

}

@media(max-width: 767px) {
  //.map{
  //  .map-wrapper {
  //    .map-dots{
  //      .dot{
  //        &--almaty{
  //          top: 72.5%;
  //          left: 120.5%;
  //        }
  //        &--astana{
  //          top: 39.8%;
  //          left: 103.5%;
  //        }
  //        &--aktay{
  //          top: 71.2%;
  //          left: 31%;
  //        }
  //        &--aktobe{
  //          top: 41%;
  //          left: 53%;
  //        }
  //        &--atyrau{
  //          top: 52.4%;
  //          left: 34%;
  //        }
  //        &--karaganda{
  //          top: 48%;
  //          left: 115.5%;
  //        }
  //        &--kokhetay{
  //          top: 28%;
  //          left: 97.3%;
  //        }
  //        &--kostanay{
  //          top: 21%;
  //          left: 77.5%;
  //        }
  //        &--kyzlodrda{
  //          top: 64.8%;
  //          left: 82.5%;
  //        }
  //        &--pavlodar{
  //          top: 27.8%;
  //          left: 121.8%;
  //        }
  //        &--petropavlosk{
  //          top: 15%;
  //          left: 95%;
  //        }
  //        &--semey{
  //          top: 40%;
  //          left: 134%;
  //        }
  //        &--taraz{
  //          left: 107%;
  //          top: 76%;
  //        }
  //        &--uralsk{
  //          top: 34%;
  //          left: 33.5%;
  //        }
  //        &--oskemen{
  //          top: 40%;
  //          left: 145%;
  //        }
  //        &--shmkent{
  //          top: 78.5%;
  //          left: 95%;
  //        }
  //        &--taldyk{
  //          top: 65.5%;
  //          left: 130%;
  //        }
  //      }
  //
  //    }
  //  }
  //}
}


@media(max-width: 650px) {
  .footer{
    .row{
      gap: 2rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .col-sm-6,
      .col-sm-3{
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center !important;
      }
    }
  }

  .banner{
    height: max-content;
    .big_banner{
      display: none;
    }
    .mob__banner{
      display: block;
      object-fit: contain !important;

    }
  }
}

@media (max-width: 599px){
  .steps{
    .steps__list{
      .step__item{
        aspect-ratio: auto;
        width: 300px;
        height: 350px;
        .step__text{
          .step__title{
            letter-spacing: -2px;
          }
          .step__desc{
            letter-spacing: 0;
          }
        }
      }
    }

    .coin--1{
      display: none;
    }
  }
  section.info{
    .info__banner{
      display: none;
    }
    .info__slider{
      display: block !important;
    }
  }

  .section-title{
    @include fluid-font(22, 48); // 48px → 24px
    letter-spacing: 0;
  }

}