@media(max-width: 1200px){
  .steps {
    .steps__list{
      grid-template-columns: 1fr;
      .step__item{
        @include fluid-padding(80, 150, 50, 90, 50, 70, 50, 70);
      }
    }
  }
  .map{
    .container{
      .map__wrapper {
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
        img{
          min-width: 900px;
          width: 100%;
        }
        .map__dots {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          min-width: 900px;
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  .footer{

  }
}


@media(max-width: 991px){
  .header {
    .header__burger {
      display: block;
      margin-right: 20px;
    }

    .header__menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 90%;
      height: 100vh;
      background: linear-gradient(180deg, #ff6c00 0%, #994100 100%);
      z-index: 1000;
      padding: 80px 30px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease;

      &.active {
        transform: translateX(0);
      }

      // Кнопка закрытия
      &::before {
        content: '\00d7';
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 36px;
        color: #000;
        cursor: pointer;
        line-height: 1;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ul {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        width: 100%;
        li a {
          font-size: 24px;
          color: #000;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .counter{
    .counter__increment {
      .counter__digit{
        span{
          @include fluid-font(42, 128); // 128px → 64px
        }
      }
    }
  }
  img.sticker{
    width: 100%;
  }
}

@media(max-width: 650px) {
  .header__wrap{
    justify-content: end !important;
    width: max-content;

  }
  .footer{
    .row{
      gap: 2rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .col-sm-6,
      .col-sm-3{
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center !important;
      }
    }
  }

  .banner{
    height: 120vh;
    min-height: 120vh;
    background-size: contain ;
    background: url("../img/banner_mob--new.png")top/cover no-repeat;
    .banner__image {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
        object-fit: contain !important;
      }
    }
  }

  .main-text__banner{
    background: url("../img/gold_text_mob.png")center/contain no-repeat;
    height: 200px;
  }


  .banner{
    .coin--1{
      top: 15%;
    }
  }

  .main-text{
    .coin--1{
      top: -15%;
    }
  }

  .map{
    .coin--1{
      top: 15%;
    }
    .coin--2{
      top: -5%;
    }
    .coin--4{
      top: 80%;
    }
  }

  .steps{
    .steps__list{
      .step__item{
        padding: 120px 50px 120px 50px;
      }
    }
  }
}

@media (max-width: 599px){
  .info {
    .section-title{
      margin-bottom: 2rem;
    }
    .coin--2{
      display: none;
    }
  }
  .counter{
    .section-title{
      padding-top: 2rem;
    }

    .coin--3{
      top: -15%;
    }
  }
  .steps{
    .steps__list{
      .step__item{
        aspect-ratio: auto;
        width: 300px;
        height: 350px;
        padding: 120px 70px 120px 70px;
        .step__icon{
          svg{
            width: 36px;
            height: 36px;
          }
        }
        .step__text{
          margin-top: 0;
          .step__title{
            letter-spacing: 0;
          }
          .step__desc{
            letter-spacing: 0;
          }
        }
      }
    }

    .coin--1{
      display: none;
    }
  }
  section.info{
    .info__banner{
      display: none;
    }
    .info__slider{
      display: block !important;
    }
  }

  .section-title{
    @include fluid-font(22, 48); // 48px → 24px
    letter-spacing: 0;
  }


  .header__logo{
    svg{
      width: 120px;
      height: 50px;
    }
  }
}